.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  margin: 50px auto;
}

.color{

  /* background-color: #252D3F; */
  background-color: #D8CECE;


}

.btn{
  background-color: rgb(16, 71, 53);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 4px;
  margin-bottom: 10px;
}

.instyle{
  background-color: rgba(255, 255, 255, 0.993);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 200px;
}


