.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  margin: 50px auto;
}

.color{

  
  background-color: rgb(58, 51, 29);
  


}

.btn{
  background-color: rgb(26, 85, 65);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 4px;
  margin-bottom: 10px;
}

.instyle{
  background-color: rgba(255, 255, 255, 0.993);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 200px;
}


